<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= restaurant.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><small><%= restaurant.address %></small></h6>
    <h6 class="card-subtitle mb-2"><%= restaurant.category %></h6>
    <h6 class="card-text"><%= restaurant.description %></h6>
  </div>
</div>
